/* src/components/MovieWishlist/MovieWishlist.css */

.wishlist-container {
  padding: 20px;
  color: white;
  background-color: #141414; /* 전체 배경색 */
  min-height: 100vh;
}

.wishlist-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.wishlist-movie-card {
  position: relative;
  background-color: #222;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s;
  cursor: pointer;
}

.wishlist-movie-card:hover {
  transform: scale(1.05);
}

.wishlist-movie-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-title {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.wishlist-button {
  display: block;
  margin: 10px auto 0 auto;
  padding: 5px 10px;
  background-color: #E50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.wishlist-button:hover {
  background-color: #f40612;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}

.empty-wishlist {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}
