/* src/styles/global.css */

:root {
  --background-color: #2b2b2b;
  --text-color: #ffffff;
  --header-background: transparent;
  --header-text-color: #ffffff;
  --link-color: #646cff;
  --button-background: #E50914;
  --button-text-color: #ffffff;
  /* 필요한 다른 색상 변수들을 추가하세요 */
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
  background-color: var(--background-color);
}

body.light {
  --background-color: #ffffff;
  --text-color: #000000;
  --header-background: rgba(255, 255, 255, 0.9);
  --header-text-color: #000000;
  --link-color: #646cff;
  --button-background: #E50914;
  --button-text-color: #ffffff;
}

body.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --header-background: rgba(0, 0, 0, 0.9);
  --header-text-color: #ffffff;
  --link-color: #9b9bff;
  --button-background: #E50914;
  --button-text-color: #ffffff;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-color);
  opacity: 0.8;
}

/* 기타 글로벌 스타일 */
