/* src/views/Search/HomeSearch.css */

.container-search {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .container-search-bar {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center; /* 올바른 값 */
    margin-top: 10px;
  }
  
  .content-search {
    width: 100%;
  }
  